* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: 100px 1fr 100px;
    font-family: 'Inter', sans-serif;
    font-size: 20px; 
    font-weight: 400;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
   
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header a:hover {
    color: #bdae82;
    transform: scale(1.2);
}

.nav-list {
    display: flex;
    list-style: none;
    line-height: 50px;
    transition: all .5s;
    cursor: pointer;
}

.nav-item a {
    padding: 0 15px;
    outline: none;
    text-decoration: none;
    color: rgb(75, 57, 180);
}

main {
    /* background-image: url(./assets/bg.jpg);
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover; */
    display: grid;
    grid-template-areas: "aside" "section";
    grid-template-columns: 1fr 3fr;
}

.aside {
    line-height: 50px;
}

.social-media {
    display: flex;
    flex-direction: row;
}

.social-media img {
    height: 30px;
    padding-left: 40px;
    cursor: pointer;
}

.section {
    padding: 15px;
}

h1 {
    text-align: center;
    color: gray;
}

.my-name {
    font-size: 50px;
    color: rgb(79, 74, 104);
    font-family: 'Inter', sans-serif;
}

.section-title {
    font-family: 'Shadows Into Light', cursive;
    color: rgb(75, 57, 180);
    font-size: 40px;
    text-align: center;
}

.photo img {
    width: 400px;
    border-radius: 50%;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-link img {
    width: 450px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 10px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 5px 20px;
    font-size: 20px;
}

.git-links {
    display: flex;
    align-items: center;
}

.git-link {
    padding-right: 20px;
}

.github-link {
    color: white;
    text-decoration: none;
    padding: 0 20px;
    transition: .3s;
}

.github-link:hover {
    color: #9e892a;
}

.school-link img {
    width: 135px;
    height: 50px;
    transition: .3s;
}

.school-link:hover {
    filter: invert(50%) sepia(11%) saturate(2348%) hue-rotate(12deg) brightness(104%) contrast(89%);
}